body{
	margin: 0;
	font-family : Arial
}

header {
	text-align: left;
	font-size: 5em;
	background-image: url(headerTB.png);
	background-size: 100% 100%;
	margin: 0;
	padding: 0% 0% 10% 0%;
}

img{
	float: left;
	width: 10%;
	margin: 1% 0% 0% 4%;
}


#menu, #menu ul /* Liste */     

{
		background : rgb(204,51,51); /* couleur de fond */
        padding : 0; /* pas de marge intérieure */

        margin : 0; /* ni extérieure */

        list-style : none; /* on supprime le style par défaut de la liste */



        text-align : center; /* on centre le texte qui se trouve dans la liste */

}


#menu /* Ensemble du menu */

{

        font-weight : bold; /* on met le texte en gras */

        font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */

        font-size : 15px; /* hauteur du texte : 12 pixels */
		

}


#menu a /* Contenu des listes */

{

        display : inline-block; /* on change le type d'élément, les liens deviennent des balises de type block */

        padding : 0; /* aucune marge intérieure */

        background : rgb(204,51,51); /* couleur de fond */

        color : #fff; /* couleur du texte */

        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */

        width : 100%; /* largeur */

}
.linav {
	display: inline-block;
	font-size: 1.3em;
	padding-left: 0px;
	width: 19.78%;
	text-align: center;
}



#menu li ul /* Sous-listes */

{ 

        position: absolute; /* Position absolue */

	width: 19.78%; /* Largeur des sous-listes */

        left: -999em; /* Hop, on envoie loin du champ de vision */

}

#menu li ul ul

{

        margin    : -22px 0 0 144px ; /* On décale les sous-sous-listes pour qu'elles ne soient pas au dessus des sous-listes */ 

        /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */

      

}



#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
{
        left: -999em; /* On expédie les sous-sous-listes hors du champ de vision */
}

#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
{
        left: auto; /* Repositionnement normal */
        min-height: 0; /* Corrige un bug sous IE */
}

#menu a 

{

       display: inline-block;

        padding : 0; 

        background : rgb(204,51,51); /* Couleur du fond, actuellement = noir */

        color : #fff; /* Couleur du texte, actuellement = blanc */

        text-decoration : none; 


}


/* Inversement des couleurs lorsque la souris passe */


#menu a:hover
{

        color : rgb(204,51,51); /* Noir */

        background : #fff; /* Blanc*/

}
div{
	margin: 5% 10% 10% 10%;
}
.pic{
	float:none;
	display: block;
	width:50%;
	margin: 0% 25% 0% 25%;
}
section img{
	display: inline-block;
	float : left;
	padding-right: 2%;
	padding-left: 20%;
	max-height: 150px;

}

section p{
	margin: 0%;
	display: inline-block;
}

/* CONNEXION */
.connexion{
	text-align: center;
	width: 40%;
	margin: 0% 30%;
}
form{
	font-size: 1.2em;
}
.formIP{
	display:table;
}
h1 {
	font-weight: bold;
	font-family: Arial;
}
input{
	padding: 2% 0% 2% 0%;
	border-radius: 5px;
	width: 100%;
}
button{
	font-weight: bold;
	font-family: Arial;
	padding: 1% 3%;
	width: 100%;
	background: rgb(204,51,51);
	border-radius: 5px;
	color: white;
	font-size: 1.1em;
}
.form-group{
	margin:1% 0%
}

/*inscription*/
.login-box{
margin: 0% 20%;
}
.login{
margin:0% 10% 5% 10%;
}
/*Validation*/
.loginN{
	display: inline-block;
	margin: 0% 10%;
	width: 29.6%;
}
footer {
	background-color: black;
	color: white;
	text-align: center;
	width:100%;
	/*position:absolute;*/
	bottom:0px;

}

.Foot{
	display: table-cell;
	width: 3%;
	font-family : Arial; /* on utilise Arial, c'est plus beau ^^ */
}

.Foot ul{

		list-style : none; /* on supprime le style par défaut de la liste */
        text-align : left; /* on centre le texte qui se trouve dans la liste */

}
.Foot a{
	
        display : inline-block; /* on change le type d'élément, les liens deviennent des balises de type block */

        padding : 0; /* aucune marge intérieure */
		color : #fff; /* couleur du texte */

        text-decoration : none; /* on supprime le style par défaut des liens (la plupart du temps = souligné) */

        width : 100%; /* largeur */
	
}


@media screen and (max-width: 700px){
	header {
		padding: 0% 0% 20% 0%;
		background-image: url(curve-header3.png);

	}
	img{
		width: 20%;
		margin: 1% 0% 0% 40%;
	}
}
@media screen and (max-width: 630px) {
	#menu li ul {
		width: 49%;
	}

	.linav {
		width: 49%;
	}

	nav, div {
		font-size: 14px;
	}
}
@media screen and (max-width: 500px) {
/*
	header {
	padding: 0% 0% 20% 0%;
	background-image: url(curve-header3.png);

}

img{
	width: 20%;
	margin: 1% 0% 0% 40%;
}


.linav {

	width: 49%;

}

#menu li ul{ 


    width: 49%;

     
}
nav, div {font-size: 11px; }
*/
}

@media screen and (max-device-width: 300px) {


	#menu li:hover ul ul, #menu li.sfhover ul ul /* Sous-sous-listes lorsque la souris passe sur un élément de liste */
	{
		display: none;
	}

	#menu li:hover ul, #menu li li:hover ul, #menu li.sfhover ul, #menu li li.sfhover ul  /* Sous-listes lorsque la souris passe sur un élément de liste ET sous-sous-lites lorsque la souris passe sur un élément de sous-liste */
	{
		display: none;
	}

.linav {

	width: 80%;

}

#menu li ul{


    width: 80%; /* Largeur des sous-listes */


}

}
